<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UUID</key>
	<string>7b44b47b-52a1-5381-90c2-f09b6838c5d4</string>
	<key>beaconName</key>
	<string>GemTot iOS</string>
	<key>major</key>
	<integer>0</integer>
	<key>minor</key>
	<integer>0</integer>
	<key>power</key>
	<integer>127</integer>
	<key>broadcasting</key>
	<integer>0</integer>
</dict>
</plist>
